
.socialite { display: block; float: left; height: 35px; }


.admin_name{
	color: white;
}

.admin_action i{
	color: black;
}

.admin_edit_form{
	padding: 20px;
}
.admin_edit_img{
	border: 2px solid gray;
}

.admin_create_alert{
	position: absolute;
	top: 10%;
	left: 37%;
	z-index: 99999;
	width: 30%;
	text-align: center;
}
.admin_btn_delete{
	border: unset;
	background: unset;
}

.admin_edit_img{
	position: relative;
	width: 271px;
	height: 200px;
}
.admin_edit_img_item{
	object-fit: cover;
	width: 100%;
	height: 100%;
}
.admin_edit_img_delete{
	position: absolute;
	top: 0;
	right: 0;
	background: red;
	border: unset;
	color: white;
	z-index: 10;
	border-radius: 5px;
}
.empty_img{
	width: 270px;
	height: 200px;
	background: gray;
}

/*стили для изменения картинок*/
.blur{
	filter: blur(2px);
}
.active{
	border-radius: 5px;
	background: blue;
}

.deleted{
	display: none;
}

/*скрытие-показ сео блока в описании*/

.admin_edit_seo_btn{
	margin: 15px 0;
}
.admin_edit_seo{
	display: none;
}

.active_seo{
	display: block!important;
}

.feedback_item{
	background: lightgreen;
}

.feedback_checked{
	background: transparent;
}

.nestable_action{
	font-size: 16px;
	margin: 0 10px;
}
